:root{
	--mainColor:#453f9969;
	--secondaryColor:#554ab6;

	--borderColor:#4aa5c9;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(57, 49, 129, 0.8);
	--previewShadow:#315c79;


	--buttonColor:#0c080e;


}