:root{
	--mainColor:#cc57c29a;
	--secondaryColor:#5a485a;

	--borderColor:#191418;

	--mainText:rgb(238, 232, 232);
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(89, 72, 90, 0.8);
	--previewShadow:#963f7c;


	--buttonColor:#000000;


}